<table class="table">
  <thead style="font-weight:bold;">
    <td>Skater/Team</td>
    <td>Event</td>
    <td></td>
    <td>Skater/Team</td>
    <td>Event</td>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>