<!-- continue jumbotron -->
    <h2>Provincial Team Members</h2>
  </div>
</div>
<div style="container">
  <ul class="nav nav-tabs">
      <li class="active"><a href="#jrdev" aria-controls="jrdev" role="tab" data-toggle="tab">Junior Development Team</a></li>
      <li><a href="#select" aria-controls="select" role="tab" data-toggle="tab">Select Team</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" id="jrdev" class="tab-pane active">
      <span>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#jr1718" aria-controls="jr1718" role="tab" data-toggle="tab">2017-2018</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" id="jr1718" class="tab-pane active">
            <span>
        
            </span>  
          </div>
        </div>
      </span>  
    </div>
    <div role="tabpanel" id="select" class="tab-pane">
      <span>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#sel1718" aria-controls="sel1718" role="tab" data-toggle="tab">2017-2018</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" id="sel1718" class="tab-pane active">
            <span>
        
            </span>  
          </div>
        </div>
      </span>  
    </div>
  </div>
</div>
