<!-- continue jumbotron -->
    <h2>Regional, Provincial, National and International Awards</h2>
  </div>
</div>
<div style="container">
  <ul class="nav nav-tabs">
      <li class="active"><a href="#ca17" aria-controls="ca17" role="tab" data-toggle="tab">2017-2018</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" id="ca17" class="tab-pane active">
      <span>
        <%= render "awards/awards" %>
      </span>
    </div>
  </div>
</div>