<div id='competitive'>
    <div id="accordion" role="tabist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="head_sr_women">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#sr_women" aria-expanded="true" aria-controls="collapse_sr_women">
              Senior Women
            </a>
          </h5>
        </div>
        <div id="sr_women" class="collapse" role="tabpanel" aria-labelledby="head_sr_women">
          <div class="card-block" data-include="scores/competitive/senior/women.html"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="head_sr_men">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#sr_men" aria-expanded="false" aria-controls="collapse_sr_men">
              Senior Men
            </a>
          </h5>
        </div>
        <div id="sr_men" class="collapse" role="tabpanel" aria-labelledby="head_sr_men">
          <div class="card-block" data-include="scores/competitive/senior/men.html"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="head_sr_pairs">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#sr_pairs" aria-expanded="false" aria-controls="collapse_sr_pairs">
              Senior Pairs
            </a>
          </h5>
        </div>
        <div id="sr_pairs" class="collapse" role="tabpanel" aria-labelledby="head_sr_pairs">
          <div class="card-block" data-include="scores/competitive/senior/pairs.html"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="head_sr_dance">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#sr_dance" aria-expanded="false" aria-controls="collapse_sr_dance">
              Senior Dance
            </a>
          </h5>
        </div>
        <div id="sr_dance" class="collapse" role="tabpanel" aria-labelledby="head_sr_dance">
          <div class="card-block" data-include="scores/competitve/senior/dance.html"></div>
        </div>
      </div>
    </div>
          
  </div>