<ul class="nav nav-tabs">
  <li class="active"><a href="#gold" aria-controls="gold" role="tab" data-toggle="tab">Gold</a></li>
  <li><a href="#10" aria-controls="10" role="tab" data-toggle="tab">STAR 10</a></a></li>
  <li><a href="#9" aria-controls="9" role="tab" data-toggle="tab">STAR 9</a></a></li>
  <li><a href="#8" aria-controls="8" role="tab" data-toggle="tab">STAR 8</a></a></li>
  <li><a href="#7" aria-controls="7" role="tab" data-toggle="tab">STAR 7</a></a></li>
  <li><a href="#6" aria-controls="6" role="tab" data-toggle="tab">STAR 6</a></a></li>
  <li><a href="#5" aria-controls="5" role="tab" data-toggle="tab">STAR 5</a></a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" id="gold" class="tab-pane active">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#gwomen" aria-controls="gold" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#gmen" aria-controls="gold" role="tab" data-toggle="tab">Men</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="gwomen" class="tab-pane active">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="gmen" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
      </div>
    </span>  
  </div>
  <div role="tabpanel" id="10" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#10women" aria-controls="gold" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#10men" aria-controls="gold" role="tab" data-toggle="tab">Men</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="10women" class="tab-pane active">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="10men" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
      </div>
    </span>   
  </div>
  <div role="tabpanel" id="9" class="tab-pane">
    <span>STAR 9</span>  
  </div>
  <div role="tabpanel" id="8" class="tab-pane">
    <span>STAR 8</span>  
  </div>
  <div role="tabpanel" id="7" class="tab-pane">
    <span>STAR 7</span>  
  </div>
  <div role="tabpanel" id="6" class="tab-pane">
    <span>STAR 6</span>  
  </div>
  <div role="tabpanel" id="5" class="tab-pane">
    <span>STAR 5</span>  
  </div>
</div>