<h3>Introduction and Criteria</h3>
<p>
  With the inception of the CPC judging system we are now able to track performances over seasons and mark the outstanding achievements of our athletes in real measurable terms. The following outlines the process for marking these high scores.
</p>
<p>
	High scores are tracked in the three disciplines of Singles, Pairs and Ice Dance. Due to the significant changes from previous seasons in well balanced program criteria, principles of calculation and the scale of values, a similar set of records has no not yet been established for Synchronized Skating. The scores in Synchronized are not yet statistically comparable from season to season.
</p>
<p>
	High scores are recorded in each discipline for Short Program/Dance, Free Program/Dance, Pattern Dance, and Total Competition score. In addition the top Technical and Compenent score for each segment is tracked. A Calalta record can be set at any sanctioned competition using CPC.
</p>
<p>
	Calalta records are recorded in all CPC scored events from STAR 5 to Senior and includes Team Events, Adult Comptition, and Intrepretive. 
</p>
<p>
	The Calalta Records list shall be maintained by the Calalta office. It is the responsability of each skater to report when a record has been set. Please send a copy of the Skater Detail sheet to <a href="mailto:bradley.hazelton@skatecoach.ca">Bradley Hazelton</a> for a record to be updated
</p>