<p>Senior</p>
<!-- old
<table class="table table-sm">
  <thead style="font-weight: bold;">
    <td>Segment</td>
    <td></td>
    <td>Skater</td>
    <td>Score</td>
    <td>Event</td>
    <td>Year</td>
  </thead>
  <tbody>
    <tr class="table-info">
      <td>Short Program</td>
      <td>Technical Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-info">
      <td>Short Program</td>
      <td>Component Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-info">
      <td>Short Program</td>
      <td>Total Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-warning">
      <td>Freeskate Program</td>
      <td>Technical Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-warning">
      <td>Freeskate Program</td>
      <td>Component Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-warning">
      <td>Freeskate Program</td>
      <td>Total Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-success">
      <td>Combined</td>
      <td>Total Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

-->