<!-- continue jumbotron -->
    <h2>+2 Grade Of Execution</h2>
  </div>
</div>
<!-- +2 GOE Page -->
<div class="container">
  <div>
    <p style="text-align: center;">These skaters have the distinction of wowing the judges and recieving at least one +2 Grade of Execution on their report card</p>
  </div>
</div>