<h3 style="text-align: center">Calalta Skating Club is proud to reconize the achievements of our skaters</h3>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Top Scores</h4>
        <p class="card-text">Top Scores at any sanctioned competition for STAR 5 to Senior including Adult, Intrepretive, and Team Events.</p>
        <%= link_to "Top Scores", top_scores_index_path %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">&#43;2 GOE</h4>
        <p class="card-text">&#43;2 GOE is a huge achievement. Any Calalta skater or team getting a &#43;2 GOE will be featured on this page</p>
        <a class="btn btn-primary" role="button" href="#">&#43;2 GOE</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Gold and Diamond Tests</h4>
        <p class="card-text">Gold and Diamond Tests are the pinnacle of Skate Canada tests</p>
        <a class="btn btn-primary" role="button" href="#">Gold and Diamond Tests</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Alberta Team Members</h4>
        <p class="card-text">These skaters are on one of the Provincial teams</p>
        <a class="btn btn-primary" role="button" href="#">Alberta Team Members</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Calalta Awards</h4>
        <p class="card-text">Our annual award winners</p>
        <a class="btn btn-primary" role="button" href="#">Calalta Awards</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Provincial, National and International Awards</h4>
        <p class="card-text">Calalta skaters who have recieved awards outside of our club</p>
        <a class="btn btn-primary" role="button" href="">Awards</a>
      </div>
    </div>
  </div>
</div>