<html>
    <head>
        <title>Calalta Skating Club Wall of Fame </title>
    </head>
    
    <body>
        <div class="container">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--- <a class="navbar-brand" href="#">Calalta Skating Club<br />Wall Of Fame</a> --->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="scores.html">Top Scores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="goe.html">&#43;2 GOE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tests.html">Gold and Diamond Tests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="teams.html">AB Team Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="club_awards.html">Calalta Awards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="external_awards.html">Provincial and National Awards</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <div style="text-align: center">
                    <img src="images/calalta.png" />
                    <h1><b>Wall Of Fame</b></h1>
                </div>
            </div>
            <div>
                <h3 style="text-align: center">Calalta Skating Club is proud to reconize the achievements of our skaters</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Top Scores</h4>
                                <p class="card-text">Top Scores at any sanctioned competition for STAR 5 to Senior including Adult, Intrepretive, and Team Events.</p>
                                <a class="btn btn-primary" role="button" href="scores.html">Top Scores</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">&#43;2 GOE</h4>
                                <p class="card-text">&#43;2 GOE is a huge achievement. Any Calalta skater or team getting a &#43;2 GOE will be featured on this page</p>
                                <a class="btn btn-primary" role="button" href="goe.html">&#43;2 GOE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Gold and Diamond Tests</h4>
                                <p class="card-text">Gold and Diamond Tests are the pinnacle of Skate Canada tests</p>
                                <a class="btn btn-primary" role="button" href="tests.html">Gold and Diamond Tests</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Alberta Team Members</h4>
                                <p class="card-text">These skaters are on one of the Provincial teams</p>
                                <a class="btn btn-primary" role="button" href="tests.html">Alberta Team Members</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Calalta Awards</h4>
                                <p class="card-text">Our annual award winners</p>
                                <a class="btn btn-primary" role="button" href=club_awards.html>Calalta Awards</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Provincial, National and International Awards</h4>
                                <p class="card-text">Calalta skaters who have recieved awards outside of our club</p>
                                <a class="btn btn-primary" role="button" href="external_awards.html">Awards</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
