<table class="table">
  <thead style="font-weight: bold;"></thead>
    <td>Skater</td>
    <td>Assessment</td>
    <td>Month</td>
    <td>Year</td>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>