<!-- continue jumbotron -->
    <h2>STAR 1-5 Assessments Pass With Honors</h2>
  </div>
</div>
<div style="container">
  <div style="text-align: center;">
    <p>In the STAR 1-5 Assessment system a skater can Pass With Honors by having a gold assessment on all but one element</p>
    <p style="font-size: -1;"><i>Records tracked as of September 2017</i></p>
  </div>
  <div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#fs" aria-controls="fs" role="tab" data-toggle="tab">Freeskate</a></li>
        <li><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>
        <li><a href="#dance" aria-controls="dance" role="tab" data-toggle="tab">Dance</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" id="fs" class="tab-pane active">
        <span><%= render "honors" %></span>  
      </div>
      <div role="tabpanel" id="skills" class="tab-pane">
        <span><%= render "honors" %></span> 
      </div>
      <div role="tabpanel" id="dance" class="tab-pane">
        <span><%= render "honors" %></span>   
      </div>
    </div>
  </div>
</div>