<table class="table table-sm">
  <thead style="font-weight: bold;">
    <td></td>
    <td>Skater/Team</td>
    <td>Score</td>
    <td>Event</td>
    <td>Year</td>
  </thead>
  <tbody>
    <tr class="table-warning">
      <td>Technical Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-warning">
      <td>Component Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-warning">
      <td>Total Score</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>