<table class="table">
  <thead style="font-weight: bold">
    <td>Skater</td>
    <td>Element</td>
    <td>Competition</td>
    <td>Year</td>
  </thead>
  <tbody>
    <td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </td>
  </tbody>
</table>