<div>
  <table class="table">
    <thead style="font-weight: bold;">
      <td>Skater</td>
      <td>Year</td>
      <td></td>
      <td>Skater</td>
      <td>Year</td>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>