<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar=header">
      <button type="button" class="navbar=toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"  aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Wall Of Fame", root_path, class: "navbar-brand" %>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>Top Scores</li>
        <li>&#43;2 GOE</li>
        <li>Gold and Diamond Tests</li>
        <li>AB Team Members</li>
        <li>Calalta Awards</li>
        <li>Provincial and National Awards</li>
      </ul>
    </div>
  </div>
</nav>
        <!--
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="scores.html">Top Scores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="goe.html">&#43;2 GOE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tests.html">Gold and Diamond Tests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="teams.html">AB Team Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="club_awards.html">Calalta Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="external_awards.html">Provincial and National Awards</a>
                </li>
            </ul>
        </div>
    </nav> -->
    