<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar=header">
      <!-- <button type="button" class="navbar=toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"  aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <%= link_to "Wall Of Fame", root_path, class: "navbar-brand" %>
    </div>
    
    <div class="collapse navbar-collapse" id="#bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a href="#">Top Scores</a></li>
        <li class="nav-item"><a href="#">&#43;2 GOE</a></li>
        <li class="nav-item"><a href="#">Gold and Diamond Tests</a></li>
        <li class="nav-item"><a href="#">AB Team Members</a></li>
        <li class="nav-item"><a href="#">Calalta Awards</a></li>
        <li class="nav-item"><a href="#">Provincial and National Awards</a></li>
      </ul>
    </div>
  </div>
</nav>
    